
body {
    background-color: #D5CEFF; /* Light color background */
    font-family: 'Roboto', sans-serif;
    color: #1D0330; /* Primary text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #FFFFFF; /* White container background */
    border-radius: 16px; /* Increased border-radius for more rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    z-index: 1; /* Ensure the container is above the canvas */
    position: relative;
}

.container h2 {
    color: #3A0360; /* Secondary heading text color */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px; /* Increased border-radius for more rounded corners */
    border: 1px solid #3A0360; /* Secondary border color */
}

.btn-login {
    background-color: #1D0330; /* Primary button background color */
    color: #FFFFFF; /* White button text */
    border: none;
    padding: 10px 20px;
    border-radius: 8px; /* Increased border-radius for more rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #3A0360; /* Secondary button background on hover */
}

.text-center {
    text-align: center;
}

.register-link {
    color: #3A0360; /* Secondary link text color */
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #D5CEFF; /* Match the canvas background color to body */
}
        .error {
            color: red;
        }

        body {
            background-color: #1d0330;
        }

        .bg-white {
            background-color: #3a0360;
        }

        .bg-blue-500 {
            background-color: #6622bd;
        }

        .text-blue-500 {
            color: #6622bd;
        }

        .bg-blue-600:hover {
            background-color: #d5ceff;
        }

        .focus\:shadow-outline {
            box-shadow: 0 0 0 3px rgba(53, 42, 135, 0.5);
        }

